.btn-login{
    color: #030f27 !important;
   border: 2px solid #ffffff;
   border-radius: 0;
   background: #fdbe33;
   font-weight: bold;
}   
.alert_success{
    background: #1b811b;
    padding: 20px;
    color: white;
}
.d-print-block{
    display: none;
}